<tmpl_include name="header.tmpl">

<p>Here you will find links to RealGate Administrators and Users Guide in pdf format, press the links
to download.<p>
<p>Download <a href="admin.pdf" class="menu">Administrators Guide</a> as pdf document</p>
<p>Download <a href="user.pdf" class="menu">Users Guide</a> as pdf document</p>

<tmpl_include name="footer.tmpl">
