<tmpl_include name="header.tmpl">
<img src="png/<tmpl_var name='instance'>-hour.png" alt="graph"><br>
<img src="png/<tmpl_var name='instance'>-day.png" alt="graph"><br>
<img src="png/<tmpl_var name='instance'>-month.png" alt="graph"><br>
<img src="png/<tmpl_var name='instance'>-year.png" alt="graph"><br>
<tmpl_include name="footer.tmpl">
