<tmpl_include name="header.tmpl">

<a href="http://www.mbuni.org/index.shtml">
<img src="images/logo.jpg" alt="Mbuni" border="0" style="float: right"></a>

<p style="font-weight: bold;">About Mbuni:</p>
<p>Mbuni, is based on the open source project "kannel"
by wapit ltd.</p>
<p style="font-weight: bold;">About Mbunbi:</p>
<p>
Mbuni is a fully-fledged Free/Open Source Multimedia Messaging Service (MMS) gateway. It includes both core network MMS switching (i.e. MMSC) capabilities as well as messaging gateway (i.e. MMSC infrastructure integration) features, and is suitable for operators and MMS VAS providers.
</p>

<tmpl_include name="footer.tmpl">
